/* Reset básico e estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: white;
}

.App {
  width: 100%;
  min-height: 100vh;
}

/* Links e navegação */
a {
  text-decoration: none;
  color: inherit;
}

/* Containers e layout gerais */
.container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 20px;
}
/* css botão sair */

.app-header {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

.app-header a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

.app-header button:hover {
  cursor: pointer;
  opacity: 0.8;
}
